.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.full-width {
  width: 100%;
}
